* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #222;
	color: #eee;
}

.overlord {
	width: 600px;
	margin: 0px auto;
	padding: 1em;
	overflow: auto;
}

h1 {
	font-family: Georgia;
	font-variant: small-caps;
	color: gold;
	font-size: 64px;
	text-align: center;
	font-weight: normal;
	letter-spacing: -3px;
}

#gameboard {
	position: relative;
	margin: 0px auto;
	float: left;
	margin-right: 12px;
}

#gameboard .tile {
	text-align: center;
	font-size: 39px;
	font-weight: bold;
	position: absolute;
	width: 39px;
	height: 39px;
	border: 1px solid #d0d0d0;
}

#gameboard .floor {
	background-color: #fff;
}

#gameboard .wall {
	background-color: #d0a0a0;
}

#gameboard .player {
	background-color: #000;
}

#gameboard .trash {
	background-color: #000;
}

#gameboard .pit {
	background-color: #000;
}

#gameboard .skeleton {
	background-color: #c00;
}

circle.selected {
	stroke: gold;
	stroke-width: 2;
}

#alerts {
	position: relative;
	z-index: 99999;
}
#alerts div {
	display: none;
	position: absolute;
	font-weight: bold;
	font-family: Georgia;
	font-variant: small-caps;
	color: red;
	text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
	-webkit-transition: font-size 0.5s, -webkit-transform 0.5s;
	transition: font-size 0.5s, transform 0.5s;
}
